<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.chen.plugin">

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true">


        <service
            android:name=".pm.PluginManagerService"
            android:enabled="true" />


        <activity
            android:name=".stub.ActivityStub$P00$Standard00"
            android:allowTaskReparenting="true"
            android:excludeFromRecents="true"
            android:exported="false"
            android:hardwareAccelerated="true"
            android:launchMode="standard"
            android:noHistory="true"
            android:screenOrientation="portrait" />



        <activity
            android:name=".stub.ActivityStub$P00$SingleTop00"
            android:allowTaskReparenting="true"
            android:excludeFromRecents="true"
            android:exported="false"
            android:hardwareAccelerated="true"
            android:launchMode="singleTop"
            android:noHistory="true"
            android:screenOrientation="portrait" />

        <activity
            android:name=".stub.ActivityStub$P00$SingleTop01"
            android:allowTaskReparenting="true"
            android:excludeFromRecents="true"
            android:exported="false"
            android:hardwareAccelerated="true"
            android:launchMode="singleTop"
            android:noHistory="true"
            android:screenOrientation="portrait" />

        <activity
            android:name=".stub.ActivityStub$P00$SingleTop02"
            android:allowTaskReparenting="true"
            android:excludeFromRecents="true"
            android:exported="false"
            android:hardwareAccelerated="true"
            android:launchMode="singleTop"
            android:noHistory="true"
            android:screenOrientation="portrait" />

        <activity
            android:name=".stub.ActivityStub$P00$SingleTop03"
            android:allowTaskReparenting="true"
            android:excludeFromRecents="true"
            android:exported="false"
            android:hardwareAccelerated="true"
            android:launchMode="singleTop"
            android:noHistory="true"
            android:screenOrientation="portrait" />


        <activity
            android:name=".stub.ActivityStub$P00$SingleTask00"
            android:allowTaskReparenting="true"
            android:excludeFromRecents="true"
            android:exported="false"
            android:hardwareAccelerated="true"
            android:launchMode="singleTask"
            android:noHistory="true"
            android:screenOrientation="portrait" />

        <activity
            android:name=".stub.ActivityStub$P00$SingleTask01"
            android:allowTaskReparenting="true"
            android:excludeFromRecents="true"
            android:exported="false"
            android:hardwareAccelerated="true"
            android:launchMode="singleTask"
            android:noHistory="true"
            android:screenOrientation="portrait" />

        <activity
            android:name=".stub.ActivityStub$P00$SingleTask02"
            android:allowTaskReparenting="true"
            android:excludeFromRecents="true"
            android:exported="false"
            android:hardwareAccelerated="true"
            android:launchMode="singleTask"
            android:noHistory="true"
            android:screenOrientation="portrait" />

        <activity
            android:name=".stub.ActivityStub$P00$SingleTask03"
            android:allowTaskReparenting="true"
            android:excludeFromRecents="true"
            android:exported="false"
            android:hardwareAccelerated="true"
            android:launchMode="singleTask"
            android:noHistory="true"
            android:screenOrientation="portrait" />


        <activity
            android:name=".stub.ActivityStub$P00$SingleInstance00"
            android:allowTaskReparenting="true"
            android:excludeFromRecents="true"
            android:exported="false"
            android:hardwareAccelerated="true"
            android:launchMode="singleInstance"
            android:noHistory="true"
            android:screenOrientation="portrait" />

        <activity
            android:name=".stub.ActivityStub$P00$SingleInstance01"
            android:allowTaskReparenting="true"
            android:excludeFromRecents="true"
            android:exported="false"
            android:hardwareAccelerated="true"
            android:launchMode="singleInstance"
            android:noHistory="true"
            android:screenOrientation="portrait" />

        <activity
            android:name=".stub.ActivityStub$P00$SingleInstance02"
            android:allowTaskReparenting="true"
            android:excludeFromRecents="true"
            android:exported="false"
            android:hardwareAccelerated="true"
            android:launchMode="singleInstance"
            android:noHistory="true"
            android:screenOrientation="portrait" />

        <activity
            android:name=".stub.ActivityStub$P00$SingleInstance03"
            android:allowTaskReparenting="true"
            android:excludeFromRecents="true"
            android:exported="false"
            android:hardwareAccelerated="true"
            android:launchMode="singleInstance"
            android:noHistory="true"
            android:screenOrientation="portrait" />


        <service
            android:name=".stub.ServiceStub$StubP00$P00"
            android:enabled="true" />



    </application>

</manifest>
